.paging {
    margin-top: 12%;
}

ul {
    text-align: center;
}

table, th, td {
    border: 1px solid #17a2b8;
    border-collapse: separate;
    border-spacing: 2px;
}

thead {
    background-color: rgba(23, 162, 184, 0.2);
    border: 1px solid #17a2b8 !important;
}