
<!-- Toolbar -->
<div class="content" role="main">
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 myColor border-bottom shadow-sm fixed-top">
    <div (click)="goShop()">
      <img width="40" alt="Market Logo" src="assets/img/market-icon.png"/>
      &nbsp; &nbsp;
      <span>{{ title }}</span>
    </div>
    <h5 class="my-0 mr-md-auto font-weight-normal">
    </h5>
    <nav class="my-2 my-md-0 mr-md-3">
    </nav>
    <a class="btn btn-outline-light" routerLinkActive="active" routerLinkActive="active" routerLink="/login">Registrar</a>
      &nbsp; &nbsp;
    <button (click)="logout()" type="button" class="btn btn-outline-warning">Sair</button>
  </div>
<!-- FIM Toolbar -->

<router-outlet></router-outlet>